celeba.zip filter=lfs diff=lfs merge=lfs -text
church.zip filter=lfs diff=lfs merge=lfs -text
ffhq.zip filter=lfs diff=lfs merge=lfs -text
horse.zip filter=lfs diff=lfs merge=lfs -text
cat.zip filter=lfs diff=lfs merge=lfs -text
